/* =================================================================================
iOS Flat - Basic Theme
==================================================================================*/
body{
	font: normal 500 17px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color:#000;
	background:#fff;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
:focus {
	outline:0px;
}
#mainColumn{
	font: normal 500 17px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
#leftColumn{
	font: normal 500 17px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
#rightColumn{
	font: normal 500 17px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
footer{
	font: normal 500 17px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
h1 {
  font: normal normal normal 2.25em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
h2 {
  font: normal normal normal 1.75em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
h3 {
  font: normal normal normal 1.5em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
h4 {
  font: normal normal normal 1.17em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
hr {
	border: 0;
	border-top: inset 1px #fefefe;
}

/* no style for input-file in firefox */
input{
	border-radius: 3px;
}
input, input[type=text], input[type=text], input[type=number]{
	border: 1px solid #cdcdcd;
}
button, .button, .ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default,
select, .manDropdown{
	font: normal 500 .8em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #fff;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
} 
::-webkit-file-upload-button {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #fff;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
::-ms-browse {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #fff;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
button:hover, .button:hover, .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content
.ui-state-focus, .ui-widget-header .ui-state-focus, 
select:hover, .manDropdown:hover {
	font: normal 500 .8em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #ff3824;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
::-webkit-file-upload-button:hover {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #ff3824;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
::-ms-browse:hover {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #ff3824;
	cursor:pointer;  
	border: 0;
	background-color: #007aff;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
button:active, .button:active, button:focus, .button:focus, .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
::-webkit-file-upload-button:active, input[type=file]:active,
select:active, .manDropdown:active {
	font: normal 500 .8em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #111;
	cursor:pointer;  
	border: 0;
	background-color: #54c7fc;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
::-webkit-file-upload-button:active, ::-webkit-file-upload-button:focus {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #111;
	cursor:pointer;  
	border: 0;
	background-color: #54c7fc;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
::-ms-browse:active, ::-ms-browse:focus {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #111;
	cursor:pointer;  
	border: 0;
	background-color: #54c7fc;
	background-image: none;
	border-radius: 5px;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
button, .button, button:hover, .button:hover, button:active, .button:active, button:focus, .button:focus{
	font-size: .8em;
	padding: .4em 1.2em;
}
::-webkit-file-upload-button, ::-webkit-file-upload-button:hover, ::-webkit-file-upload-button:active{
	font-size: 1em;
	padding: .4em 1.2em;
}
::-ms-browse, ::-ms-browse:hover, ::-ms-browse:active{
	font-size: 1em;
	padding: .4em 1.2em;
}
select, .manDropdown, select:hover, .manDropdown:hover, select:active, .manDropdown:active{
	font-size: .8em;
	padding: .3em 1.2em .3em 0;
	border-radius: 4px;
}

.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
	padding: .2em 1em;
}
.ui-accordion .ui-accordion-header {
	padding: 3px .5em 4px 2em;
	margin:0;
	border-radius:0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 2px 1em;
}
.ui-tabs-nav, .ui-tabs .ui-tabs-nav li {
	border-radius: 0;
	border-radius: 0;
	margin:0;
}
.ui-tabs .ui-tabs-nav li {
	background:#fff;
	font-size:1.2em;
	border:0;
	box-shadow: none;
}
.ui-tabs .ui-tabs-nav li:hover a{
	color:darkblue;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	border:0;
	border-bottom:1px solid #bcbcbc;
	color:007aff;
}
.ui-widget-header {
	border:0;
	background-image:none;
	background:#fff;
	border-bottom:1px solid #bcbcbc;
}
.ui-widget-content {
	border: 0;
	border-top:1px solid #bcbcbc;
}
.ui-accordion .ui-accordion-content {
	border-bottom:1px solid #bcbcbc;
}
.ui-tabs.ui-widget-content {
	border:0;
	border-radius:0;
}
.ui-widget{
	box-shadow: none;
}
.ui-accordion .ui-state-default {
	color:#333;
	box-shadow: none;
	border-bottom:1px solid #bcbcbc;
	background:#fff;
}
.ui-accordion-header.ui-state-active{
	color:#007aff;
	border-bottom:0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
	color:#007aff;
	cursor:pointer;
	background-color: #fff;
	background-image: none;
	border:0;
	border-top: 1px solid #bcbcbc;
	box-shadow: none;
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color:#007aff;
}

fieldset{
	background-color:#e2e2e2;
	font-size:.8em;
	border:solid 1px #cecece;
	border-radius: 0;
	box-shadow: none;
}
fieldset button {
	font-size: 1.1em;
}
fieldset button:hover {
	font-size: 1.1em;
}
.mTable {
	border:0;
}
.mTable th{
	background-color:#e2e2e2;
	color: #111111;
	border-top:none;
	border-left:none;
	border-right:none;
	box-shadow: inset 0 1px 1px #ccc;
	font: normal 400 .9em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	padding:.1em .3em;
}
.mTable td{
	color: #111111;
	border-left:none;
	border-right:none;
	font: normal 400 .8em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	padding:.1em .3em;
}
a{
	font-size:.9em;
	color:#5856d6;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
label {
	font-size:.8em;
}
/* change add label after checkbox which has class .checkLabel*/
input[type=checkbox] {
	visibility: hidden;
}
input[type=checkbox] {
	width:16px;
	margin-left:-18px;
	position: relative;
}
input[type=checkbox] + .checkLabel {
	cursor: pointer;
	position: relative;
	width: 12px;
	height: 12px;
	margin-right: 6px;
	display: inline-block;
	font: normal 500 1em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #111111;
	border: 1px solid #888;
	background-image: none;
	border-radius: 3px;
	background-color: #fefefe;
	box-shadow: none;
	background: -ms-linear-gradient(top, #fff, #fefefe);
	background: -moz-linear-gradient(top, #fff, #fefefe);
	background: -o-linear-gradient(top, #fff, #fefefe);
	background: -webkit-linear-gradient(top, #fff, #fefefe);
	background: linear-gradient(top, #fff, #fefefe);
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
input[type=checkbox]:checked + .checkLabel,input[type=checkbox] + .checkLabel:active,input[type=checkbox] + .checkLabel:focus {
	cursor: pointer;
	background-color: #0683ff;
	background-image: none;
	border: 1px solid #0062fd;
	box-shadow: none;
	background: -ms-linear-gradient(top, #00abfb, #0683ff);
	background: -moz-linear-gradient(top, #00abfb, #0683ff);
	background: -o-linear-gradient(top, #00abfb, #0683ff);
	background: -webkit-linear-gradient(top, #00abfb, #0683ff);
	background: linear-gradient(top, #00abfb, #0683ff);
}
input[type=checkbox] + .checkLabel:after {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 1px;
	left: 1px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-48deg);
}
input[type=checkbox] + .checkLabel:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border: 2px solid #0683ff;
	border-top: none;
	border-right: none;
	opacity: 0.3;
}
input[type=checkbox]:checked + .checkLabel:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* change add label after radio which has class .radioLabel*/
input[type=radio] {
	visibility: hidden;
}
input[type=radio] {
	width: 16px;	
	margin-left:-18px;
	position: relative;
}
input[type=radio] + .radioLabel {
	cursor: pointer;
	position: relative;
	width: 14px;
	height: 14px;
	margin:0 6px;
	display:inline-block;
	border: 1px solid #888;
	border-radius: 50px;
	background-color: #fefefe;
	box-shadow: none;
	background: -ms-linear-gradient(top, #fff, #fefefe);
	background: -moz-linear-gradient(top, #fff, #fefefe);
	background: -o-linear-gradient(top, #fff, #fefefe);
	background: -webkit-linear-gradient(top, #fff, #fefefe);
	background: linear-gradient(top, #fff, #fefefe);
	text-shadow:rgba(0,0,0,0.90) 0px 0px 0px;
}
input[type=radio]:checked + .radioLabel, input[type=radio] + .radioLabel:active,input[type=radio] + .radioLabel:focus {
	cursor: pointer;
	outline: none;
	border-radius: 50px;
	background-color: #0683ff;
	background-image: none;
	border: 1px solid #0062fd;
	box-shadow: none;
	background: -ms-linear-gradient(top, #00abfb, #0683ff);
	background: -moz-linear-gradient(top, #00abfb, #0683ff);
	background: -o-linear-gradient(top, #00abfb, #0683ff);
	background: -webkit-linear-gradient(top, #00abfb, #0683ff);
	background: linear-gradient(top, #00abfb, #0683ff);
}
input[type=radio] + .radioLabel:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background: #ffffff;
	top: 3.5px;
	left: 4px;
	border: 0px solid darkblue;
	border-radius: 50px;
}
input[type=radio] + .radioLabel:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	background: #111111;
	opacity: 0.3;
}
input[type=radio]:checked + .radioLabel:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Range Slider styling */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  padding-left:5px;
  width: 200px; /* Specific width is required for Firefox. */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  margin-top: -9px; 
  border-radius: 50px;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: 0 .5px .2px .5px #222;
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid #666;
  height: 23px;
  width: 12px;
  border-radius: 3px;
  background: #e0e0e0;
  background: -moz-linear-gradient(top, #fff, #fefefe);
  background: linear-gradient(top, #fff, #fefefe);
  cursor: pointer;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: none;
  border: 1px solid #666;
  height: 23px;
  width: 12px;
  border-radius: 3px;
  background: #e0e0e0;
  background: linear-gradient(top, #fff, #fefefe);
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #007aff;
  border-radius: 3px;
  border:0;
  border-bottom: 0.3px solid #666;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #d7d7d7;
  border-radius: 3px;
  border: 0.3px solid #666;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d7d7d7;
  border: 0.2px solid #010101;
  border-radius: 3.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #d7d7d7;
}
input[type=range]::-ms-fill-upper {
  background: #d7d7d7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d7d7d7;
}
textarea{
	font-size:.75em;
	border:0;
	border-top:1px solid #bcbcbc;
	border-bottom:1px solid #bcbcbc;
}
textarea:focus{
	box-shadow: none;
	border-top: 2px solid #007aff;
	border-bottom: 2px solid #007aff;
}

/* Nav and/or Header Menu */
/* JS to reset icons, move icons to left*/
header {
	font: normal 500 .9em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	background-image: none;
	background: rgba(244,244,244,1);
	box-shadow: none;
	height:32px;
	border-bottom:1px solid #dedede;
}
nav {
	font: normal 500 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #111111;
	background-color: #eef6fd;
	background-image: none;
	background: rgba(244,244,244,1);
	text-shadow: 0 1px 1px #dbdbdb;
	border:0;
}
nav li a {
	border-left: none;
	border-right: none;
	color: #111;
	text-decoration: none;
	text-shadow: none;
}
nav > ul > li:hover > a {
	color: #007aff;
	text-decoration:none;
	text-shadow: none;
}
.fullMenu {
	height:30px;
	padding-top:1px;
}
.fullMenu li a {
	padding:8px 11px;
}
/* Mini Menu */
.miniMenu {
	background: #eef6fd;
	border:0;
	height: 30px;
}
.miniMenu a {
	color: #111111;
}
.miniMenu a:hover {
	text-decoration:none;
	color: #007aff;
}
.miniMenu a:active {
	background: #dedede;
	color: #111;
}
.miniMenu ul ul {
	background: #ffffff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	box-shadow: none;
}
.miniMenu ul ul a {
	color: #111;
	text-shadow: none;
}
.miniMenu ul ul a:hover {
	text-decoration:none;
	background: none;
	color: #007aff;
}
.miniMenu .second li {
	background-color: #ffffff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
.miniMenu li a {
	border-left: 0;
	border-bottom: 0;
}
.miniMenu .second ul {
	color:#111;
}
.pagepush {
	display: none;
	background: rgba(235, 235, 235,0.9);
	height: 100%;
	box-shadow: none;
	border-left:1px solid #dedede;
}

nav ul ul, .fullMenu .second ul {
	background-image:none;
	background: rgba(255,255,255,0.85);
	box-shadow: 0 6px 12px rgba(0,0,0,0.7);
	border-radius: 0 0 5px 5px;
	border: 0;
}
nav .second ul {
	/*box-shadow: 0 6px 12px rgba(0,0,0,0.7);*/
}
nav .second li {
	background-image:none;
	background: rgba(255,255,255,0.99);
	border:0px;
}
nav .second .last {
	box-shadow: 0 6px 12px rgba(0,0,0,0.7);
	
}
.fullMenu li:hover, nav ul ul a:hover{
	color: #007aff;
	text-shadow: none;
	border:none;
	box-shadow: inset 0 1px 1px #0a3094;
	background:none;
	text-decoration:none;
}
.fullMenu ul li:hover {
	border-left:0px;
	border-right:0px;
}
nav ul ul li:first-child a {
	border-left: 1px solid #eee;
}
nav ul ul li a {
	border-left: 1px solid #eee;
}